__pycache__/
*.py[cod]
*.pyo
build/
dist/
*.egg-info/

.idea/
.vscode/

manuscript/
notes/

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.tex
*.aaa
*.aab

.DS_Store
Thumbs.db
